body {
  background-color: pink; font-family: Bell MT
}
h1,h2 {
  color: white; font-family: Bell MT
}
h1 {
  text-align: center;
}
h2 {
  font-size: 30px
}
p, p2 {
  color: white; font-size: 20px
}
ul, a {
  color: white; font-size: 20px
}
img {
  width: 30%;
}

.labs {
  margin-left: 30%
}
