body {
  background-color: pink; font-family: Bell MT
}
h1,h2 {
  color: white; font-family: Bell MT
}
h1 {
  text-align: center;
}
p, p2 {
  color: white;
}
ul, a {
  color: white;
}
img {
  width: 20%;
}
ul {
  margin-left: 20%
}
