html {
  background-color: white;
}

header {
  border-width: thick;
  border-color: black;
  border-style: dashed;
  background-color: #32CD32;
}

footer {
  border-width: thick;
  border-color: black;
  border-style: dashed;
  text-decoration: none;
  background-color: #FF8C00;
  padding: 1% 1%;
}

nav {
  border-width: thick;
  border-color: black;
  border-style: dashed;
  background-color: #FFD700;
  margin-bottom: 13%;
  margin-top: 13%;
}

aside {
  border-width: thick;
  border-color: black;
  border-style: dashed;
  margin-top: 1%;
  color: white;
  background-color: #FF0000;
  margin-bottom: 10%;
  margin-top: 10%;
}

main {
  border-width: thick;
  border-color: black;
  color: white;
  border-style: dashed;
  background-color: #1E90FF;
  margin-bottom: 3%;
  margin-top: 3%;
}

div#all {
  display: grid;
  grid-column-gap: 1%;
  grid-template-columns: 15% 63% 20%;
  background-color: white;
}

footer .number {
  padding-right: 1%;
  text-decoration: none;
  float: right;
}

footer .email {
  padding: 1%;
  text-decoration: none;
}

.homepage, .index, .float, .flexbox, .grid {
  text-align: left;
  font-family: 'Crimson Text', serif;
  text-decoration: none;
  font-size: 110%;
}

h3, h4 {
  font-family: 'Dancing Script', cursive;
  padding-left: 5%;
  font-size: 175%;
  color: white;
  margin-bottom: 20px;
}

div#links {
  padding-left: 10%;
  line-height: 150%;
  color: white;
}

li:hover, .homepage:hover, .index:hover, .float:hover, .flexbox:hover, .grid:hover {
  color: black;
}

div#content p {
  font-family: 'Crimson Text', serif;
  font-size: 100%;
}

div#content h2 {
  font-family: 'Dancing Script', cursive;
  font-size: 200%;
  color: white;
}

div#content {
  padding-left: 5%;
  padding-right: 5%;
}

h1 {
  font-family: 'Dancing Script', cursive;
}

.email:hover, .number:hover {
  color: black;
}

.twelve, .eleven {
  width: 110%;
}

figcaption {
  font-size: 15px;
}

.twelve:hover, .eleven:hover {
  transform: scale(1.5);
}
