html {
  background-color: black;
}

header {
  border-width: thick;
  border-color: black;
  border-style: dashed;
  background-color: #00FF7F;
}

footer {
  border-width: thick;
  border-color: black;
  border-style: dashed;
  text-decoration: none;
  background-color: #FFBA00;
  padding: 1% 1%;
}

nav {
  border-width: thick;
  border-color: black;
  border-style: dashed;
  width: 15%;
  margin-top: 1%;
  background-color: #FF69B4;
  margin-bottom: 1%;
}

aside {
  border-width: thick;
  border-color: black;
  border-style: dashed;
  width: 20%;
  margin-top: 1%;
  color: white;
  background-color: #F0E68C;
  margin-bottom: 1%;
  margin-left: 1%;s
}

main {
  border-width: thick;
  border-color: black;
  border-style: dashed;
  width: 60.5%;
  margin-top: 1%;
  margin-bottom: 1%;
  background-color: #87CEFA;
  color: white;
  margin-left: 1%;
}

div#all {
  display: flex;
  background-color: black;
}

footer .number {
  padding-right: 1%;
  text-decoration: none;
  float: right;
}

footer .email {
  padding: 1%;
  text-decoration: none;
}

.homepage, .css {
  text-align: left;
  font-family: 'Crimson Text', serif;
  text-decoration: none;
  font-size: 110%;
}

h3, h4, h5 {
  font-family: 'Dancing Script', cursive;
  padding-left: 5%;
  font-size: 175%;
  color: white;
  margin-bottom: 20px;
}

div#links, div#previous {
  padding-left: 10%;
  line-height: 150%;
  color: white;
}

li:hover, .homepage:hover, .css:hover {
  color: black;
}

div#content p {
  font-family: 'Crimson Text', serif;
  font-size: 100%;
}

div#content h2 {
  font-family: 'Dancing Script', cursive;
  font-size: 200%;
  color: white;
}

div#content {
  padding-left: 5%;
  padding-right: 5%;
}

h1 {
  font-family: 'Dancing Script', cursive;
}

.email:hover, .number:hover {
  color: black;
}

.catto, .gato {
  max-width: 90%;
  padding: 5%;
}

@media only screen and (max-width: 600px) {
  div#all {
    width: 100%;
  }
